/* Reseteo de márgenes y padding predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente general */
body {
  /*  font-family: "Arial", sans-serif; */
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
  padding: 20px;
  position: relative;
}

/* Estilo del header */
header {
  background-color: #2c3e50;
  /*  background-color: rgba(255, 255, 255, 0.3);  */
  /*  border: solid 1px white; */
  border-radius: 8px;
  color: white;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Redes sociales en la esquina superior izquierda */
.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.social-icons a {
  display: inline-block;
  transition: transform 0.3s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
 /*  background-color: orange; */
}

/* Botones de idioma y dark mode junto al nav*/
.top-buttons {
  display: flex;
  gap: 15px;
}

.top-buttons button {
  /*   background-color: #3498db; */
  --tw-bg-opacity: 1;
  color: rgb(15 23 42 / var(--tw-bg-opacity));
  border: none;
  /* color: white; */
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.top-buttons button:hover {
  background-color: orange;
}

/* Estilo del nav (sobre mí, proyectos, contacto) */
nav ul {
  list-style: none;
  display: flex;
  gap: 5rem;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: orange;
}

/* Estilo de las secciones */
section {
  margin: 40px 0;
  padding: 20px;
}

section h2 {
  font-size: 2em;
  color: #2c3e50;
  margin-bottom: 15px;
}

/* Sección Sobre mi */
#about-title {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}
#about p {
  font-size: 1.8rem;
  text-align: center;
}

#about p strong {
  font-size: 2rem;
  font-weight: bolder;
  color: orange;
}
#about p strong:hover {
  font-size: 2rem;
  font-weight: bolder;
  color: yellow;
  opacity: 1;
}

#about p em {
  font-weight: bolder;
  color:orange;
}
#about p em:hover {
  font-weight: bolder;
  color: yellow;
  opacity: 1;
}
/* Seccion de Educación */

#education-title {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.education-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem;
}

.education-item {
  text-align: center;
  width: 200px;
}

.education-item img {
  width: 100%;
  height: 10rem;
  max-width: 150px;
  margin-bottom: 1rem;
}

.education-item p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

/* Skill section */

#skill-title {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}
.skills-section {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #2c3e50;
  border-radius: 8px;
  color: white;
  padding: 20px 40px;
}

.slider {
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  gap: 20px;
  width: max-content;
  animation: scroll 15s linear infinite;
}

/* Estilo de los iconos */
.slide-track img {
  width: 50px;
  height: auto;
}

/* Animación infinita*/
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Seccion Proyectos */
/* Estilo de los proyectos en cards */
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding-top: 20px;
}

#projects-title {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.project {
  background-color: white;
  padding: 1rem;
  border-radius: 10px;
  width: 18rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.project:hover {
  transform: translateY(-10px);
}

.project img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-bottom: 2px solid #ecf0f1;
}

/* Estilo de contacto */
#contact-title {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}
#contact a {
  color: #3498db;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
}

/* Estilo de footer */
footer {
  background-color: #2c3e50;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: 50px;
  border-radius: 8px;
}

/* Estilo del botón de subir */
.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: orange;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 1.5em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: none; /* Inicialmente oculto */
}

.scroll-top-btn:hover {
  background-color: #2980b9;
}

/* Modo oscuro */
/* .dark-mode {
  background-color: #1e272e;
  color: white;
}

.dark-mode section {
  background-color: #2c3e50;
  color: white;
}
.dark-mode h2 {
  color: white;
}

.dark-mode header,
.dark-mode footer {
  background-color: #1e272e;
}

.dark-mode .project {
  color: #1e272e;
}
.dark-mode .project img {
  border: 1px solid black;
}
.dark-mode .top-buttons button {
  background-color: #555;
} */

/* Estilo responsivo */
@media (max-width: 768px) {
  header nav ul {
    flex-direction: column;
  }

  .project {
    width: 100%;
    max-width: 400px;
  }

  .project h3 {
    font-size: 1.3em;
  }

  section h2 {
    font-size: 1.8em;
  }
}
