/* Reseteo de márgenes y padding predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fuente general */
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  --tw-bg-opacity: 1;
  background-color: rgb(15 23 42 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(148 163 184 / var(--tw-text-opacity));
  position: relative;
  /*  padding: 20px; */
}

/* Estilo del header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2c3e50;
  color: white;
  padding: 30px;
}

.header__logo-container {
  display: flex;
  align-items: center;
}

.header__logo-img-cont {
  margin-right: 1.2rem;
}

.header__logo-img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-left: 2rem;
}

.header__logo-sub {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Estilo del nav*/
nav {
  margin-right: 2rem;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 5rem;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: orange;
}

/* Estilo de las secciones */
section {
  margin: 8rem 4rem;
  padding: 20px;
}

section h2 {
  font-size: 2em;
  color: #2c3e50;
  margin-bottom: 15px;
}

/* Sección Sobre mi */

#about-title {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}
#about p {
  font-size: 1.8rem;
  text-align: center;
}

#about p strong {
  font-size: 2rem;
  font-weight: bolder;
  color: orange;
}
#about p strong:hover {
  font-size: 2rem;
  font-weight: bolder;
  color: yellow;
  opacity: 1;
}

#about p em {
  font-weight: bolder;
  color: orange;
}
#about p em:hover {
  font-weight: bolder;
  color: yellow;
  opacity: 1;
}
/* Seccion de Educación */

#education-title {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.education-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2rem;
  padding: 1rem;
}

.education-item {
  text-align: center;
  width: 200px;
}

.education-item img {
  width: 100%;
  height: 10rem;
  max-width: 150px;
  margin-bottom: 1rem;
}

.education-item p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

/* Sección habilidades */

#skill-title {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}
.skills-section {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  background-color: #2c3e50;
  border-radius: 8px;
  color: white;
  padding: 20px 40px;
}

/* Carrusell o slider de Skill icons */
.slider {
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  gap: 75px;
  width: max-content;
  animation: scroll 20s linear infinite;
}

/* Estilo de los iconos */
.slide-track img {
  width: 50px;
  height: auto;
}

/* Animación infinita*/
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Seccion Proyectos */
/* Estilo de los proyectos en cards */
#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding-top: 20px;
}

#projects-title {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

.project {
  --tw-bg-opacity: 0.5;
  --tw-text-opacity: 1;
  color: rgb(15 23 42 / var(--tw-text-opacity));
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
  padding: 1rem;
  border: solid 1px white;
  border-radius: 10px;
  width: 18rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.project:hover {
  transform: translateY(-10px);
}

.project img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border: 2px solid #ecf0f1;
}

/* Estilo de contacto */
#contact-title {
  text-align: center;
  color: white;
  margin-bottom: 2rem;
}

#contact-text {
  width: 60%;
  padding: 2rem;
  margin: 0 auto;
  text-align: center;
  font-size: 1.8rem;
}

#contact a {
  color: #3498db;
  text-decoration: none;
}

#contact a:hover {
  text-decoration: underline;
  color: orange;
}

/* Estilo footer */

.main-footer {
  background-color: #2c3e50;
  color: #fff;
  padding: 5rem 1rem;
  font-family: Arial, sans-serif;
  font-size: 1.8rem;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-footer__upper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.main-footer__row-2 {
  order: 1;
  text-align: right;
  flex: 1;
}

.main-footer__row-1 {
  order: -1;
  text-align: left;
  flex: 1;
}

.main-footer__social-cont {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}

.main-footer__icon {
  width: 3rem;
  height: 3rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s;
}

.main-footer__icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.main-footer__short-desc {
  font-size: 1.5rem;
  line-height: 1.5;
  opacity: 0.8;
}

.main-footer__lower {
  text-align: center;
  font-size: 1.2rem;
  margin-top: 1.5rem;
  opacity: 0.7;
}

.main-footer__lower span {
  color: white;
  font-weight: bolder;
}

.mobile-first, .mobile-first-nav {
  display: none;
}


/* Estilo del botón de subir */
.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;

  --tw-bg-opacity: 1;
  color: rgb(15 23 42 / var(--tw-bg-opacity));
  color: black;
  border: none;
  padding: 15px 20px;
  font-size: 1.5em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: none; /* Inicialmente oculto */
}

.scroll-top-btn:hover {
  background-color: orange;
  color: black;
}

/* Mobile Responsiveness */
@media only screen and (max-width: 768px) {
  /* Header */
  header {
    flex-direction: column;
    padding: 20px;
  }

  nav ul {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  /* About section */
  #about {
    padding: 40px 10px;
  }

  #about-title {
    font-size: 1.8rem;
  }

  #about-text-1,
  #about-text-2,
  #about-text-3 {
    font-size: 1rem;
  }

  /* Education section */
  .education-container {
    grid-template-columns: 1fr 1fr;
    gap: 15px;
  }

  /* Skills section */
  #skill-title {
    font-size: 1.8rem;
  }

  .slider {
    overflow: visible;
  }

  .slide-track img {
    width: 50px;
    height: 50px;
    margin-right: 30px;
  }

  /* Projects section */
  .project {
    padding: 15px;
  }

  .project h3 {
    font-size: 1.5rem;
  }

  .project img {
    width: 100%;
    height: auto;
  }

  /* Footer */
  footer.main-footer {
    padding: 20px;
  }

  .main-footer__upper {
    flex-direction: column;
    align-items: center;
  }

  .main-footer__row-1,
  .main-footer__row-2 {
    text-align: center;
    margin-bottom: 10px;
  }

  .main-footer__social-cont {
    gap: 10px;
    justify-content: center;
  }

  .main-footer__short-desc {
    font-size: 1rem;
  }
}

/* Mobile-first design for very small screens */
@media only screen and (max-width: 480px) {
  /* Header */
  header {
    padding: 15px;
  }

  nav ul {
    gap: 8px;
  }
  .header__logo-img-cont,
  #contact-nav,
  #about-text-2,
  #about-text-3 {
    display: none;
  }

section {
  margin:2rem 1rem;
}

  /* About section */
  /* #about {
    padding: 0.5rem;
  } */

  #about-title {
    font-size: 1.6rem;
  }

  #about-text-1,
  #about-text-2,
  #about-text-3 {
    font-size: 0.9rem;
  }

  /* Education section */
  #about-title,
  #education-title,
  #skill-title,
  #projects-title,
  #contact-title {
    border: 1px solid white;
  }

  .education-container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  /* Projects section */
  .project {
    padding: 10px;
    margin-top: 1rem;
  }

  .project h3 {
    font-size: 1.3rem;
  }

  .project img {
    width: 100%;
    height: 150px;
}



  #contact {
    display: none;
  }

  .mobile-first, .mobile-first-nav {
    display: flex;
  }

  .mobile-first a {
    display: flex;
    color: #3498db;
    text-decoration: none;
  }

  .mobile-first a:hover {
    color: orange;
  }
  /* Footer */
  .main-footer__short-desc {
    font-size: 1rem;
  }

  #scroll-top-btn {
    font-size: 1.3rem;
  }

  .main-footer__lower,
  .main-footer .main-container {
    font-size: 0.9rem;
  }
  
  .main-footer__icon {
    width: 2rem;
    height: 2rem;
  }

  .main-footer__row-1 {
    margin: 1rem 2rem;
    padding: 1rem;
  }


/* Carrusell o slider de Skill icons */
.slider {
  width: 100%;
  overflow: hidden;
}

.slide-track {
  display: flex;
  gap: 50px;
  width: max-content;
  animation: scroll 30s linear infinite;
}

/* Estilo de los iconos */
.slide-track img {
  width: 50px;
  height: auto;
}

/* Animación infinita*/
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}




}
